.exc_content {
   width: 100%;
   height: 3600px;
   position: relative;
   background: url(/sass/images/Rectangle\ \(2\).png);
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items:center;

   .rarity {
    width:58%;
    height:3500px;
    border:1px solid transparent;
    position: relative;



    .img_t {
      width: 100px;
      height: 35px;
      border:1px solid transparent;
      position: absolute;
      top:90px;


      .img {
         background: url(/sass/images/Vector\ \(1\).png);
         width: 35px;
         height: 35px;
         background-repeat: round;
      }





         p {
            font-style: normal;
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            z-index: 10;
            position: absolute;
            font-family:'open sans';
            top: 10px;
            left: 15px;
         }
      }

      .text_eclusive {
        width: 60%;
        height: 60px;
        border:1px solid transparent;
        position: absolute;
        top:130px;
        left: 10px;


        p {
         font-family: 'Montserrat';
         font-style: normal;
         font-weight: 700;
         font-size: 60px;
         line-height: 58px;
        }
      }
      .common {
         width: 100%;
         height:300px;
         border-top: 1px solid rgba(64, 71, 86, 0.6);
         position:absolute;
         top: 250px;
         display: flex;
         justify-content: space-between;
         padding-top: 80px;


         .common_1 {
            width: 400px;
            height: 400px;
            border: 1px solid transparent;


            .c_text {
               width:180px;
               height: 50px;
               border: 1px solid transparent;
               margin-bottom: 30px;
   
   
   
               p {
                  
               font-family: 'Montserrat';
               font-style: normal;
               font-weight: 700;
               font-size: 36px;
               line-height: 32px;
               }
            }
            .c_text_twoo {
               width: 200px;
               height: 30px;
               border: 1px solid transparent;
               display: flex;
               justify-content: start;
               margin-bottom: 30px;

               .c_twoo {
                  width:80px;
                  height: 30px;
                  border: 1px solid transparent;
                  display: flex;
                  justify-content: start;
                  align-items:center;

                  p {
                    
                   font-family: 'Montserrat';
                   font-style: normal;
                   font-weight: 700;
                   font-size: 18px;
                   line-height: 16px;
                  }
               }

               .c_three {
                  width:130px;
                  height: 30px;
                  border: 1px solid transparent;
                  display:flex;
                  justify-content: center;
                  align-items: center;
                  gap: 5px;

                  .krug {
                     width: 17px;
                     height: 20px;
                     border: 1px solid transparent;
                     background: url(/sass/images/krug1.png);
                     background-repeat:no-repeat ;
                     background-position:center ;
                     background-size: auto;
                     
                  }


                  .one {
                     background:url(/sass/images/krug2.png);
                  }
                  .twoo {
                     background:url(/sass/images/krug3.png);
                  }
                  .forr {
                     background:url(/sass/images/krug3.png);
                  }
                  .three {
                     background:url(/sass/images/krug3.png);
                  }
               }
   
   
            }
            .os_text {
               width: 100%;
               height: 150px;
               border: 1px solid transparent;


               p {
                  font-family: 'Open Sans';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 20px;
                  line-height: 25px;
               }
            }
         }

         .screen { 
            width:400px;
            height: 480px;
            border: 1px solid transparent;
            position: absolute;
            right: 100px;
            top: 100px;
            background:url(/sass/images/IMAGE\ \(1\).png);
            background-repeat: no-repeat;
            background-position:center;
            background-size: contain;
         }


      }
      .common_2 {
         width: 100%;
         height:300px;
         border-top: 1px solid rgba(64, 71, 86, 0.6);
         position:absolute;
         top: 900px;
         display: flex;
         justify-content: space-between;
         padding-top: 80px;


         .common_3 {
            width: 400px;
            height: 400px;
            border: 1px solid transparent;


            .c_text {
               width:220px;
               height: 50px;
               border: 1px solid transparent;
               margin-bottom: 30px;
   
   
   
               p {
                  
               font-family: 'Montserrat';
               font-style: normal;
               font-weight: 700;
               font-size: 36px;
               line-height: 32px;
               }
            }
            .c_text_twoo {
               width: 200px;
               height: 30px;
               border: 1px solid transparent;
               display: flex;
               justify-content: start;
               margin-bottom: 30px;

               .c_twoo {
                  width:80px;
                  height: 30px;
                  border: 1px solid transparent;
                  display: flex;
                  justify-content: start;
                  align-items:center;

                  p {
                    
                   font-family: 'Montserrat';
                   font-style: normal;
                   font-weight: 700;
                   font-size: 18px;
                   line-height: 16px;
                  }
               }

               .c_three {
                  width:130px;
                  height: 30px;
                  border: 1px solid transparent;
                  display:flex;
                  justify-content: center;
                  align-items: center;
                  gap: 5px;

                  .krug {
                     width: 16px;
                     height: 20px;
                     border: 1px solid transparent;
                     background: url(/sass/images/krug1.png);
                     background-repeat:no-repeat ;
                     background-position:center ;
                     background-size: contain;
                     
                  }


                  .one {
                     background: url(/sass/images/krug1.png);
                  }
                  .twoo {
                     background:url(/sass/images/krug2.png);
                  }
                  .forr {
                     background:url(/sass/images/krug3.png);
                  }
                  .three {
                     background:url(/sass/images/krug3.png);
                  }
               }
   
   
            }
            .os_text {
               width: 100%;
               height: 150px;
               border: 1px solid transparent;


               p {
                  font-family: 'Open Sans';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 20px;
                  line-height: 25px;
               }
            }
         }

         .screen { 
            width:400px;
            height: 480px;
            border: 1px solid transparent;
            position: absolute;
            right: 100px;
            top: 100px;
            background:url(/sass/images/IMAGE\ \(8\).png);
            background-repeat: no-repeat;
            background-position:center;
            background-size: contain;
         }


      }
      .common_4 {
         width: 100%;
         height:300px;
         border-top: 1px solid rgba(64, 71, 86, 0.6);
         position:absolute;
         top: 1550px;
         display: flex;
         justify-content: space-between;
         padding-top: 80px;


         .common_5 {
            width: 400px;
            height: 400px;
            border: 1px solid transparent;


            .c_text {
               width:220px;
               height: 50px;
               border: 1px solid transparent;
               margin-bottom: 30px;
   
   
   
               p {
                  
               font-family: 'Montserrat';
               font-style: normal;
               font-weight: 700;
               font-size: 36px;
               line-height: 32px;
               }
            }
            .c_text_twoo {
               width: 200px;
               height: 30px;
               border: 1px solid transparent;
               display: flex;
               justify-content: start;
               margin-bottom: 30px;

               .c_twoo {
                  width:80px;
                  height: 30px;
                  border: 1px solid transparent;
                  display: flex;
                  justify-content: start;
                  align-items:center;

                  p {
                    
                   font-family: 'Montserrat';
                   font-style: normal;
                   font-weight: 700;
                   font-size: 18px;
                   line-height: 16px;
                  }
               }

               .c_three {
                  width:130px;
                  height: 30px;
                  border: 1px solid transparent;
                  display:flex;
                  justify-content: center;
                  align-items: center;
                  gap: 5px;

                  .krug {
                     width: 16px;
                     height: 20px;
                     border: 1px solid transparent;
                     background: url(/sass/images/krug1.png);
                     background-repeat:no-repeat ;
                     background-position:center ;
                     background-size: contain;
                     
                  }


                  .one {
                     background: url(/sass/images/krug1.png);
                  }
                  .twoo {
                     background:url(/sass/images/krug1.png);
                  }
                  .forr {
                     background:url(/sass/images/krug3.png);
                  }
                  .three {
                     background:url(/sass/images/krug3.png);
                  }
               }
   
   
            }
            .os_text {
               width: 100%;
               height: 150px;
               border: 1px solid transparent;


               p {
                  font-family: 'Open Sans';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 20px;
                  line-height: 25px;
               }
            }
         }

         .screen { 
            width:400px;
            height: 480px;
            border: 1px solid transparent;
            position: absolute;
            right: 100px;
            top: 100px;
            background:url(/sass/images/IMAGE\ \(9\).png);
            background-repeat: no-repeat;
            background-position:center;
            background-size: contain;
         }


      }
      .common_6 {
         width: 100%;
         height:300px;
         border-top: 1px solid rgba(64, 71, 86, 0.6);
         position:absolute;
         top: 2200px;
         display: flex;
         justify-content: space-between;
         padding-top: 80px;


         .common_7 {
            width: 400px;
            height: 400px;
            border: 1px solid transparent;


            .c_text {
               width:220px;
               height: 50px;
               border: 1px solid transparent;
               margin-bottom: 30px;
   
   
   
               p {
                  
               font-family: 'Montserrat';
               font-style: normal;
               font-weight: 700;
               font-size: 36px;
               line-height: 32px;
               }
            }
            .c_text_twoo {
               width: 200px;
               height: 30px;
               border: 1px solid transparent;
               display: flex;
               justify-content: start;
               margin-bottom: 30px;

               .c_twoo {
                  width:80px;
                  height: 30px;
                  border: 1px solid transparent;
                  display: flex;
                  justify-content: start;
                  align-items:center;

                  p {
                    
                   font-family: 'Montserrat';
                   font-style: normal;
                   font-weight: 700;
                   font-size: 18px;
                   line-height: 16px;
                  }
               }

               .c_three {
                  width:130px;
                  height: 30px;
                  border: 1px solid transparent;
                  display:flex;
                  justify-content: center;
                  align-items: center;
                  gap: 5px;

                  .krug {
                     width: 16px;
                     height: 20px;
                     border: 1px solid transparent;
                     background: url(/sass/images/krug1.png);
                     background-repeat:no-repeat ;
                     background-position:center ;
                     background-size: contain;
                     
                  }


                  .one {
                     background: url(/sass/images/krug1.png);
                  }
                  .twoo {
                     background:url(/sass/images/krug1.png);
                  }
                  .forr {
                     background:url(/sass/images/krug3.png);
                  }
                  .three {
                     background:url(/sass/images/krug1.png);
                  }
               }
   
   
            }
            .os_text {
               width: 100%;
               height: 150px;
               border: 1px solid transparent;


               p {
                  font-family: 'Open Sans';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 20px;
                  line-height: 25px;
               }
            }
         }

         .screen { 
            width:600px;
            height: 480px;
            border: 1px solid transparent;
            position: absolute;
            right: 100px;
            top: 100px;
            background:url(/sass/images/IMAGE\ \(10\).png);
            background-repeat: no-repeat;
            background-position:center;
            background-size: contain;
         }


      }
      .common_8 {
         width: 100%;
         height:300px;
         border-top: 1px solid rgba(64, 71, 86, 0.6);
         position:absolute;
         top: 2850px;
         display: flex;
         justify-content: space-between;
         padding-top: 80px;


         .common_9 {
            width: 400px;
            height: 400px;
            border: 1px solid transparent;


            .c_text {
               width:220px;
               height: 50px;
               border: 1px solid transparent;
               margin-bottom: 30px;
   
   
   
               p {
                  
               font-family: 'Montserrat';
               font-style: normal;
               font-weight: 700;
               font-size: 36px;
               line-height: 32px;
               }
            }
            .c_text_twoo {
               width: 200px;
               height: 30px;
               border: 1px solid transparent;
               display: flex;
               justify-content: start;
               margin-bottom: 30px;

               .c_twoo {
                  width:80px;
                  height: 30px;
                  border: 1px solid transparent;
                  display: flex;
                  justify-content: start;
                  align-items:center;

                  p {
                    
                   font-family: 'Montserrat';
                   font-style: normal;
                   font-weight: 700;
                   font-size: 18px;
                   line-height: 16px;
                  }
               }

               .c_three {
                  width:130px;
                  height: 30px;
                  border: 1px solid transparent;
                  display:flex;
                  justify-content: center;
                  align-items: center;
                  gap: 5px;

                  .krug {
                     width: 16px;
                     height: 20px;
                     border: 1px solid transparent;
                     background: url(/sass/images/krug1.png);
                     background-repeat:no-repeat ;
                     background-position:center ;
                     background-size: contain;
                     
                  }


                  .one {
                     background: url(/sass/images/krug1.png);
                  }
                  .twoo {
                     background:url(/sass/images/krug1.png);
                  }
                  .forr {
                     background:url(/sass/images/krug1.png);
                  }
                  .three {
                     background:url(/sass/images/krug1.png);
                  }
               }
   
   
            }
            .os_text {
               width: 100%;
               height: 150px;
               border: 1px solid transparent;


               p {
                  font-family: 'Open Sans';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 20px;
                  line-height: 25px;
               }
            }
         }

         .screen { 
            width:600px;
            height: 480px;
            border: 1px solid transparent;
            position: absolute;
            right: 100px;
            top: 100px;
            background:url(/sass/images/IMAGE\ \(13\).png);
            background-repeat: no-repeat;
            background-position:center;
            background-size: contain;
         }


      }
      .end {
         width: 100%;
         border-top:1px solid rgba(64, 71, 86, 0.6);
         position: absolute;
         top: 3500px;
      }
    }

   }






   @media screen and (max-width: 375px) {
      .exc_content{
         width:630px;

         .rarity{

            .text_eclusive{
               width: 400px;
               border: 1px solid transparent;


               p{
                  font-size: 20px;
               }
            }
            .common {
               top: 200px;
               padding: 30px;
               width: 200px;
               
               .common_1 {
                  // height: 300px;
                  width:200px;
                  border: 1px solid transparent;
                  height: 250px;
                  // margin-right: 1100px;
                  position: absolute;
                  // right: 1px;
                  left: -1px;

                  .c_text {
                     margin-bottom:10px;
                     border:1px solid transparent;


                     p{
                        font-size: 35px;
                     }
                  }
                  .c_text_twoo{
                     margin-bottom: 10px;
                  }
                 .os_text {

                  p {
                     font-size:13px;
                     font-weight: 700;
                  }
                 }
               }
               .screen {
                width: 200px;
                height: 250px;
                position:absolute;
                top: 300px;
                right: 20px;
                left: 0px;
               }
            }
            .common_2 {
               top: 850px;
               padding: 30px;
               width: 200px;
               
               .common_3 {
                  // height: 300px;
                  width:200px;
                  border: 1px solid transparent;
                  height: 250px;
                  // margin-right: 1100px;
                  position: absolute;
                  // right: 1px;
                  left: -1px;

                  .c_text {
                     margin-bottom:10px;
                     border:1px solid transparent;


                     p{
                        font-size: 35px;
                     }
                  }
                  .c_text_twoo{
                     margin-bottom: 10px;
                  }
                 .os_text {

                  p {
                     font-size:13px;
                     font-weight: 700;
                  }
                 }
               }
               .screen {
                width: 200px;
                height: 250px;
                position:absolute;
                top: 300px;
                right: 20px;
                left: 0px;
               }
            }
            .common_4 {
               top: 1500px;
               padding: 30px;
               width: 200px;
               
               .common_5 {
                  // height: 300px;
                  width:200px;
                  border: 1px solid transparent;
                  height: 250px;
                  // margin-right: 1100px;
                  position: absolute;
                  // right: 1px;
                  left: -1px;

                  .c_text {
                     margin-bottom:10px;
                     border:1px solid transparent;
                     // margin: 0 auto;


                     p{
                        font-size: 35px;
                     }
                  }
                  .c_text_twoo{
                     margin-bottom: 10px;
                  }
                 .os_text {

                  p {
                     font-size:13px;
                     font-weight: 700;
                  }
                 }
               }
               .screen {
                width: 200px;
                height: 250px;
                position:absolute;
                top: 300px;
                right: 20px;
                left: 0px;
               }
            }
            .common_6 {
               top: 2150px;
               padding: 30px;
               width: 200px;
               
               .common_7 {
                  // height: 300px;
                  width:200px;
                  border: 1px solid transparent;
                  height: 250px;
                  // margin-right: 1100px;
                  position: absolute;
                  // right: 1px;
                  left: -1px;

                  .c_text {
                     margin-bottom:10px;
                     border:1px solid transparent;
                     // margin: 0 auto;


                     p{
                        font-size: 35px;
                     }
                  }
                  .c_text_twoo{
                     margin-bottom: 10px;
                  }
                 .os_text {

                  p {
                     font-size:13px;
                     font-weight: 700;
                  }
                 }
               }
               .screen {
                width: 400px;
                height: 250px;
                position:absolute;
                top: 300px;
                right: 0px;
                left: -160px;
               }
            }
            .common_8 {
               top: 2800px;
               padding: 30px;
               width: 200px;
               
               .common_9 {
                  // height: 300px;
                  width:200px;
                  border: 1px solid transparent;
                  height: 250px;
                  // margin-right: 1100px;
                  position: absolute;
                  // right: 1px;
                  left: -1px;

                  .c_text {
                     margin-bottom:10px;
                     border:1px solid transparent;
                     // margin: 0 auto;


                     p{
                        font-size: 35px;
                     }
                  }
                  .c_text_twoo{
                     margin-bottom: 10px;
                  }
                 .os_text {

                  p {
                     font-size:13px;
                     font-weight: 700;
                  }
                 }
               }
               .screen {
                width: 400px;
                height: 250px;
                position:absolute;
                top: 300px;
                right: 0px;
                left: -160px;
               }
            }
         }
      }

   
   }


   @media screen and (max-width: 768px) {
      .exc_content{
         height: 4000px;
         .rarity{

            .text_eclusive{
               width: 400px;
               border:1px solid transparent;


               p{
                  font-size: 42px;
               }
            }
            .common {
               top: 200px;
               padding: 30px;
               width: 450px;
               
               .common_1 {
                  // height: 300px;
                  width:400px;
                  border: 1px solid transparent;
                  height: 250px;
                  // margin-right: 1100px;
                  position: absolute;
                  // right: 1px;
                  left: -1px;

                  .c_text {
                     margin-bottom:10px;
                     border:1px solid transparent;


                     p{
                        font-size: 45px;
                     }
                  }
                  .c_text_twoo{
                     margin-bottom: 10px;
                  }
                 .os_text {

                  p {
                     font-size:20px;
                     font-weight: 500;
                  }
                 }
               }
               .screen {
                width: 400px;
                height: 350px;
                position:absolute;
                top: 300px;
                right: 20px;
                left: 0px;
               }
            }
            .common_2 {
               top: 900px;
               padding: 30px;
               width: 450px;
               
               .common_3 {
                  // height: 300px;
                  width:400px;
                  border: 1px solid transparent;
                  height: 250px;
                  // margin-right: 1100px;
                  position: absolute;
                  // right: 1px;
                  left: -1px;

                  .c_text {
                     margin-bottom:10px;
                     border:1px solid transparent;


                     p{
                        font-size: 42px;
                     }
                  }
                  .c_text_twoo{
                     margin-bottom: 10px;
                  }
                 .os_text {

                  p {
                     font-size:20px;
                     font-weight: 500;
                  }
                 }
               }
               .screen {
                width: 400px;
                height: 350px;
                position:absolute;
                top: 300px;
                right: 20px;
                left: 0px;
               }
            }
            .common_4 {
               top: 1600px;
               padding: 30px;
               width: 450px;
               
               .common_5 {
                  // height: 300px;
                  width:400px;
                  border: 1px solid transparent;
                  height: 250px;
                  // margin-right: 1100px;
                  position: absolute;
                  // right: 1px;
                  left: -1px;

                  .c_text {
                     margin-bottom:10px;
                     border:1px solid transparent;
                     // margin: 0 auto;


                     p{
                        font-size: 42px;
                     }
                  }
                  .c_text_twoo{
                     margin-bottom: 10px;
                  }
                 .os_text {

                  p {
                     font-size:20px;
                     font-weight: 500;
                  }
                 }
               }
               .screen {
                width: 400px;
                height: 350px;
                position:absolute;
                top: 300px;
                right: 20px;
                left: 0px;
               }
            }
            .common_6 {
               top: 2300px;
               padding: 30px;
               width: 450px;
               
               .common_7 {
                  // height: 300px;
                  width:400px;
                  border: 1px solid transparent;
                  height: 250px;
                  // margin-right: 1100px;
                  position: absolute;
                  // right: 1px;
                  left: -1px;

                  .c_text {
                     margin-bottom:10px;
                     border:1px solid transparent;
                     // margin: 0 auto;


                     p{
                        font-size: 42px;
                     }
                  }
                  .c_text_twoo{
                     margin-bottom: 10px;
                  }
                 .os_text {

                  p {
                     font-size:20px;
                     font-weight: 500;
                  }
                 }
               }
               .screen {
                width: 600px;
                height: 350px;
                position:absolute;
                top: 300px;
                right: 0px;
                left: -200px;
               }
            }
            .common_8 {
               top: 3000px;
               padding: 30px;
               width: 450px;
               
               .common_9 {
                  // height: 300px;
                  width:400px;
                  border: 1px solid transparent;
                  height: 250px;
                  // margin-right: 1100px;
                  position: absolute;
                  // right: 1px;
                  left: -1px;

                  .c_text {
                     margin-bottom:10px;
                     border:1px solid transparent;
                     // margin: 0 auto;


                     p{
                        font-size: 42px;
                     }
                  }
                  .c_text_twoo{
                     margin-bottom: 10px;
                  }
                 .os_text {

                  p {
                     font-size:20px;
                     font-weight: 500;
                  }
                 }
               }
               .screen {
                width: 600px;
                height: 350px;
                position:absolute;
                top: 300px;
                right: 0px;
                left: -200px;
               }
            }
            .end {
               top: 3700px;
               width:490px;
               left: -45px;
            }
         }
      }

   
   }
   @media screen and (max-width: 1024px) {
      .exc_content{
         height: 4000px;
         .rarity{

            .text_eclusive{
               width: 600px;
               border:1px solid transparent;


               p{
                  font-size: 42px;
               }
            }
            .common {
               top: 200px;
               padding: 30px;
               width: 650px;
               
               .common_1 {
                  // height: 300px;
                  width:600px;
                  border: 1px solid transparent;
                  height: 250px;
                  // margin-right: 1100px;
                  position: absolute;
                  // right: 1px;
                  left: -1px;

                  .c_text {
                     margin-bottom:10px;
                     border:1px solid transparent;


                     p{
                        font-size: 50px;
                     }
                  }
                  .c_text_twoo{
                     margin-bottom: 10px;
                  }
                 .os_text {

                  p {
                     font-size:25px;
                     font-weight: 500;
                  }
                 }
               }
               .screen {
                width: 600px;
                height: 350px;
                position:absolute;
                top: 280px;
                right: 20px;
                left: 0px;
               }
            }
            .common_2 {
               top: 900px;
               padding: 30px;
               width: 650px;
               
               .common_3 {
                  // height: 300px;
                  width:600px;
                  border: 1px solid transparent;
                  height: 250px;
                  // margin-right: 1100px;
                  position: absolute;
                  // right: 1px;
                  left: -1px;

                  .c_text {
                     margin-bottom:10px;
                     border:1px solid transparent;


                     p{
                        font-size: 42px;
                     }
                  }
                  .c_text_twoo{
                     margin-bottom: 10px;
                  }
                 .os_text {

                  p {
                     font-size:25px;
                     font-weight: 500;
                  }
                 }
               }
               .screen {
                width: 600px;
                height: 350px;
                position:absolute;
                top: 280px;
                right: 20px;
                left: 0px;
               }
            }
            .common_4 {
               top: 1600px;
               padding: 30px;
               width: 650px;
               
               .common_5 {
                  // height: 300px;
                  width:600px;
                  border: 1px solid transparent;
                  height: 250px;
                  // margin-right: 1100px;
                  position: absolute;
                  // right: 1px;
                  left: -1px;

                  .c_text {
                     margin-bottom:10px;
                     border:1px solid transparent;
                     // margin: 0 auto;


                     p{
                        font-size: 42px;
                     }
                  }
                  .c_text_twoo{
                     margin-bottom: 10px;
                  }
                 .os_text {

                  p {
                     font-size:25px;
                     font-weight: 500;
                  }
                 }
               }
               .screen {
                width: 600px;
                height: 350px;
                position:absolute;
                top: 280px;
                right: 20px;
                left: 0px;
               }
            }
            .common_6 {
               top: 2300px;
               padding: 30px;
               width: 650px;
               
               .common_7 {
                  // height: 300px;
                  width:600px;
                  border: 1px solid transparent;
                  height: 250px;
                  // margin-right: 1100px;
                  position: absolute;
                  // right: 1px;
                  left: -1px;

                  .c_text {
                     margin-bottom:10px;
                     border:1px solid transparent;
                     // margin: 0 auto;


                     p{
                        font-size: 42px;
                     }
                  }
                  .c_text_twoo{
                     margin-bottom: 10px;
                  }
                 .os_text {

                  p {
                     font-size:25px;
                     font-weight: 500;
                  }
                 }
               }
               .screen {
                width: 800px;
                height: 350px;
                position:absolute;
                top: 280px;
                right: 0px;
                left: -200px;
               }
            }
            .common_8 {
               top: 3000px;
               padding: 30px;
               width: 650px;
               
               .common_9 {
                  // height: 300px;
                  width:600px;
                  border: 1px solid transparent;
                  height: 250px;
                  // margin-right: 1100px;
                  position: absolute;
                  // right: 1px;
                  left: -1px;

                  .c_text {
                     margin-bottom:10px;
                     border:1px solid transparent;
                     // margin: 0 auto;


                     p{
                        font-size: 42px;
                     }
                  }
                  .c_text_twoo{
                     margin-bottom: 10px;
                  }
                 .os_text {

                  p {
                     font-size:25px;
                     font-weight: 500;
                  }
                 }
               }
               .screen {
                width: 800px;
                height: 350px;
                position:absolute;
                top: 280px;
                right: 0px;
                left: -200px;
               }
            }
            .end {
               top: 3700px;
               width:690px;
               left: -45px;
            }
         }
      }

   
   }




   
